.group {
    padding-top: 10px;
}

.d1 {
    margin-top: 80px;
    margin-left: 50px;
}

button {
     font-size: 18px;
    margin-top: 20px;
    margin-left: 50px;
}

h1 {
    font-size: 50px;
}