<div>
<h1>List of companies</h1>
<input type="text" class="form-control" [(ngModel)] = "searchText" placeholder="Enter text to search">
<table class = "table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tax id</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let item of list | company: searchText">
            <td>{{item.name}}</td>
            <td>{{item.taxIdentificationNumber}}</td>
            <td><button class = "btn btn-primary" (click) = "goToCompanyDetails(item.id)">Details</button></td>
            <td><button class = "btn btn-info" (click)="goToInvoices(item.taxIdentificationNumber)">Invoices</button></td>
            <td><button class = "btn btn-info" (click) = "goToTaxReport(item.taxIdentificationNumber)">Generate tax report</button></td>
            <td>
                <button *ngIf="!checkIfCompanyHaveInvoices(item.id)" id="delete" class = "btn btn-danger" (click) = "delete(item.id)">Delete</button>
                <button *ngIf="checkIfCompanyHaveInvoices(item.id)" class="btn btn-danger" [disabled]="true">To delete company, delete related invoices first</button>
            </td>
        </tr>
    </tbody>
</table>
</div>
<button id = "save-button" class = "btn btn-primary" (click) = "goToSave()">Add company</button>
