a {
    &:hover {
        cursor: pointer;
    }
}
.auth {
    float: inline-end;
}

.navbar-brand {
    padding: 10px;
    font-size: 35px;
}

.nav-item {
    font-size: 20px;
}

.navbar-right {
    float: right;
}
