<div class="div1">
    <h1>Invoices of company {{companyName}}</h1>
    <div class="div2">
    <h2>Invoices as seller</h2>
    <table class="table table-striped border mt-1">
        <thead>
            <tr>
            <th>Invoice number</th>
            <th>Buyer</th>
            <th>Issue date</th>
            <th></th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of invoicesAsSeller">
                <td>{{invoice.number}}</td>
                <td>{{invoice.buyer.name + ' - ' + invoice.buyer.taxIdentificationNumber}}</td>
                <td>{{invoice.date}}</td>
                <td></td>
                <td>
                    <button class = "btn btn-primary" (click) = "goToDetails(invoice.id)" title="Details/edit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
                      </svg>
                        </button>
                
                    <button id="delete" class = "btn btn-danger" (click) = "deleteInvoiceAsSeller(invoice.id)" title="Delete">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="div2">
    <h2>Invoices as buyer</h2>
    <table class="table table-striped border mt-1">
        <thead>
            <tr>
            <th>Invoice number</th>
            <th>Seller</th>
            <th>Issue date</th>
            <th></th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let invoice of invoicesAsBuyer">
                <td>{{invoice.number}}</td>
                <td>{{invoice.buyer.name + ' - ' + invoice.buyer.taxIdentificationNumber}}</td>
                <td>{{invoice.date}}</td>
                <td></td>
                <td>
                    <button class = "btn btn-primary" (click) = "goToDetails(invoice.id)" title="Details/edit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z"/>
                      </svg>
                        </button>
                
                    <button id="delete" class = "btn btn-danger" (click) = "deleteInvoiceAsBuyer(invoice.id)" title="Delete">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>

